In [2]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [3]:
df = pd.read_csv('vehicles.csv')

 # عرض معلومات عن  البيانات

In [4]:
df.head()

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,size,type,paint_color,image_url,description,county,state,lat,long,posting_date
0,7222695916,https://prescott.craigslist.org/cto/d/prescott...,prescott,https://prescott.craigslist.org,6000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,az,NaN,NaN,NaN
1,7218891961,https://fayar.craigslist.org/ctd/d/bentonville...,fayetteville,https://fayar.craigslist.org,11900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ar,NaN,NaN,NaN
2,7221797935,https://keys.craigslist.org/cto/d/summerland-k...,florida keys,https://keys.craigslist.org,21000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,fl,NaN,NaN,NaN
3,7222270760,https://worcester.craigslist.org/cto/d/west-br...,worcester / central MA,https://worcester.craigslist.org,1500,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ma,NaN,NaN,NaN
4,7210384030,https://greensboro.craigslist.org/cto/d/trinit...,greensboro,https://greensboro.craigslist.org,4900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,nc,NaN,NaN,NaN

In [5]:
df.isna().sum()

id                   0
url                  0
region               0
region_url           0
price                0
year              1205
manufacturer     17646
model             5277
condition       174104
cylinders       177678
fuel              3013
odometer          4400
title_status      8242
transmission      2556
VIN             161042
drive           130567
size            306361
type             92858
paint_color     130203
image_url           68
description         70
county          426880
state                0
lat               6549
long              6549
posting_date        68
dtype: int64

In [6]:
df.describe()

,id,price,year,odometer,county,lat,long
count,4.268800e+05,4.268800e+05,425675.000000,4.224800e+05,0.0,420331.000000,420331.000000
mean,7.311487e+09,7.519903e+04,2011.235191,9.804333e+04,NaN,38.493940,-94.748599
std,4.473170e+06,1.218228e+07,9.452120,2.138815e+05,NaN,5.841533,18.365462
min,7.207408e+09,0.000000e+00,1900.000000,0.000000e+00,NaN,-84.122245,-159.827728
25%,7.308143e+09,5.900000e+03,2008.000000,3.770400e+04,NaN,34.601900,-111.939847
50%,7.312621e+09,1.395000e+04,2013.000000,8.554800e+04,NaN,39.150100,-88.432600
75%,7.315254e+09,2.648575e+04,2017.000000,1.335425e+05,NaN,42.398900,-80.832039
max,7.317101e+09,3.736929e+09,2022.000000,1.000000e+07,NaN,82.390818,173.885502

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426880 entries, 0 to 426879
Data columns (total 26 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            426880 non-null  int64
 1   url           426880 non-null  object
 2   region        426880 non-null  object
 3   region_url    426880 non-null  object
 4   price         426880 non-null  int64
 5   year          425675 non-null  float64
 6   manufacturer  409234 non-null  object
 7   model         421603 non-null  object
 8   condition     252776 non-null  object
 9   cylinders     249202 non-null  object
 10  fuel          423867 non-null  object
 11  odometer      422480 non-null  float64
 12  title_status  418638 non-null  object
 13  transmission  424324 non-null  object
 14  VIN           265838 non-null  object
 15  drive         296313 non-null  object
 16  size          120519 non-null  object
 17  type          334022 non-null  object
 18  paint_color   296677 non-null  object
 19  image_url     426812 non-null  object
 20  description   426810 non-null  object
 21  county        0 non-null       float64
 22  state         426880 non-null  object
 23  lat           420331 non-null  float64
 24  long          420331 non-null  float64
 25  posting_date  426812 non-null  object
dtypes: float64(5), int64(2), object(19)
memory usage: 84.7+ MB

In [8]:
df.columns

Index(['id', 'url', 'region', 'region_url', 'price', 'year', 'manufacturer',
       'model', 'condition', 'cylinders', 'fuel', 'odometer', 'title_status',
       'transmission', 'VIN', 'drive', 'size', 'type', 'paint_color',
       'image_url', 'description', 'county', 'state', 'lat', 'long',
       'posting_date'],
      dtype='object')

In [9]:
df.dtypes

id                int64
url              object
region           object
region_url       object
price             int64
year            float64
manufacturer     object
model            object
condition        object
cylinders        object
fuel             object
odometer        float64
title_status     object
transmission     object
VIN              object
drive            object
size             object
type             object
paint_color      object
image_url        object
description      object
county          float64
state            object
lat             float64
long            float64
posting_date     object
dtype: object

# تنظيف البيانات

In [10]:
df=df.drop(["id","url","image_url","region_url","lat","long","county"],axis = 1)

In [11]:
df_object = df.select_dtypes(include = 'object').head(3) 
df_num = df.select_dtypes(exclude = 'object').head(3)

In [12]:
df.select_dtypes(exclude = 'object').isna().sum()

price          0
year        1205
odometer    4400
dtype: int64

In [13]:
df.select_dtypes(include = 'object').isna().sum()

region               0
manufacturer     17646
model             5277
condition       174104
cylinders       177678
fuel              3013
title_status      8242
transmission      2556
VIN             161042
drive           130567
size            306361
type             92858
paint_color     130203
description         70
state                0
posting_date        68
dtype: int64

In [14]:
df.dropna(subset = ["model"],inplace = True)
df.dropna(subset = ["fuel"],inplace = True)
df.dropna(subset = ["transmission"],inplace = True)
df.dropna(subset = ["title_status"],inplace = True)
df.dropna(subset = ["posting_date"],inplace = True)

In [15]:
df.select_dtypes(include = 'object').isna().sum()

region               0
manufacturer     16764
model                0
condition       164850
cylinders       171086
fuel                 0
title_status         0
transmission         0
VIN             157280
drive           122837
size            291571
type             89085
paint_color     119557
description          2
state                0
posting_date         0
dtype: int64

In [16]:
df.select_dtypes(exclude = 'object').isna().sum()

price          0
year         737
odometer    3508
dtype: int64

In [17]:
df.dropna(subset = ["year"],inplace = True)
df.dropna(subset = ["odometer"],inplace = True)

In [18]:
df.select_dtypes(exclude = 'object').isna().sum()

price       0
year        0
odometer    0
dtype: int64

In [19]:
df["price"].index

Index([    27,     28,     29,     30,     31,     32,     33,     34,     35,
           36,
       ...
       426870, 426871, 426872, 426873, 426874, 426875, 426876, 426877, 426878,
       426879],
      dtype='int64', length=405594)

In [20]:
(405594 * (7.5/100))

30419.55

In [21]:
df[df["price"] ==0].head(5)

,region,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,VIN,drive,size,type,paint_color,description,state,posting_date
46,auburn,0,2011.0,jeep,compass,excellent,NaN,gas,99615.0,clean,automatic,NaN,NaN,full-size,SUV,NaN,Call or text now 800-213-0336 Open 9:00-6:00pm...,al,2021-04-30T16:35:11-0500
126,auburn,0,2018.0,chevrolet,express cargo van,like new,6 cylinders,gas,68472.0,clean,automatic,1GCWGAFP8J1309579,rwd,full-size,van,white,"2018 Chevrolet Express Cargo Van RWD 2500 135""...",al,2021-04-12T11:20:35-0500
127,auburn,0,2019.0,chevrolet,express cargo van,like new,6 cylinders,gas,69125.0,clean,automatic,1GCWGAFP4K1214373,rwd,full-size,van,white,"2019 Chevrolet Express Cargo Van RWD 2500 135""...",al,2021-04-12T11:20:00-0500
128,auburn,0,2018.0,chevrolet,express cargo van,like new,6 cylinders,gas,66555.0,clean,automatic,1GCWGAFPXJ1337903,rwd,full-size,van,white,"2018 Chevrolet Express Cargo Van RWD 2500 135""...",al,2021-04-12T11:19:58-0500
191,birmingham,0,2015.0,nissan,sentra,excellent,4 cylinders,gas,99505.0,clean,automatic,3N1AB7AP8FY348505,fwd,NaN,sedan,silver,2015 Nissan Sentra by Benton Nissan of Oxford...,al,2021-05-04T11:00:42-0500

In [22]:
top_30419 = df_num['price'].nlargest(30419)
bottom_100 = df_num['price'].nsmallest(30419)

In [23]:
x=df[(df["price"] <= 3736928711) & (df["price"] >= 1111111)].index
y=df[df["price"] ==0].index

In [24]:
df=df.drop(x,axis = 0)

In [25]:
df=df.drop(y,axis = 0)

In [26]:
df.describe()

                price           year      odometer
count   375717.000000  375717.000000  3.757170e+05
mean     18935.740640    2011.096118  9.849603e+04
std      16144.694868       9.385032  1.976752e+05
min          1.000000    1900.000000  0.000000e+00
25%       7200.000000    2008.000000  3.812300e+04
50%      15499.000000    2013.000000  8.703700e+04
75%      27882.000000    2017.000000  1.356360e+05
max    1000000.000000    2022.000000  1.000000e+07

In [27]:
print(df['price'].mean())
print(df['price'].median())

18935.740639896518
15499.0

In [28]:
df.isna().sum()

region               0
price                0
year                 0
manufacturer     14714
model                0
condition       142243
cylinders       153971
fuel                 0
odometer             0
title_status         0
transmission         0
VIN             147590
drive           112905
size            267055
type             82507
paint_color     106661
description          2
state                0
posting_date         0
dtype: int64

# manufacturer

In [29]:
df["manufacturer"].unique()

array(['gmc', 'chevrolet', 'toyota', 'ford', 'jeep', 'nissan', 'ram',
       'mazda', 'cadillac', 'honda', 'dodge', 'lexus', 'jaguar', 'buick',
       'chrysler', 'volvo', 'audi', 'infiniti', 'lincoln', 'alfa-romeo',
       'subaru', nan, 'acura', 'hyundai', 'mercedes-benz', 'bmw',
       'mitsubishi', 'volkswagen', 'porsche', 'kia', 'ferrari', 'mini',
       'pontiac', 'fiat', 'rover', 'tesla', 'saturn', 'mercury',
       'harley-davidson', 'datsun', 'aston-martin', 'land rover'],
      dtype=object)

In [30]:
df["manufacturer"].isna().sum()

np.int64(14714)

In [31]:
df["manufacturer"]=df["manufacturer"].fillna("Unknown")

In [32]:
df["manufacturer"].isna().sum()

np.int64(0)

In [33]:
df["manufacturer"].unique()

array(['gmc', 'chevrolet', 'toyota', 'ford', 'jeep', 'nissan', 'ram',
       'mazda', 'cadillac', 'honda', 'dodge', 'lexus', 'jaguar', 'buick',
       'chrysler', 'volvo', 'audi', 'infiniti', 'lincoln', 'alfa-romeo',
       'subaru', 'Unknown', 'acura', 'hyundai', 'mercedes-benz', 'bmw',
       'mitsubishi', 'volkswagen', 'porsche', 'kia', 'ferrari', 'mini',
       'pontiac', 'fiat', 'rover', 'tesla', 'saturn', 'mercury',
       'harley-davidson', 'datsun', 'aston-martin', 'land rover'],
      dtype=object)

# condition

In [34]:
df["condition"]=df["condition"].fillna("UN")
df["condition"].isna().sum()

np.int64(0)

In [35]:
df["condition"].unique()

array(['good', 'excellent', 'fair', 'like new', 'UN', 'new', 'salvage'],
      dtype=object)

In [36]:
prices = list(df["price"])
condition = list(df["condition"])

In [37]:
len(prices) == len(condition)

True

In [38]:
df["price"].describe()

count     375717.000000
mean       18935.740640
std        16144.694868
min            1.000000
25%         7200.000000
50%        15499.000000
75%        27882.000000
max      1000000.000000
Name: price, dtype: float64

In [39]:
df["condition"].info()

<class 'pandas.core.series.Series'>
Index: 375717 entries, 27 to 426879
Series name: condition
Non-Null Count   Dtype
--------------   -----
375717 non-null  object
dtypes: object(1)
memory usage: 5.7+ MB

In [40]:
condition[230239]

'good'

In [41]:
o=0
for i in condition:
    
    if i == 'UN':
        if prices[o] <= 1000000.0:
            condition[o] = condition[o].replace('UN',"new")
        elif  prices[o] <=27882.00:
            condition[o] = condition[o].replace('UN',"like new")
        elif  prices[o] <= 18935.0:
            condition[o] = condition[o].replace('UN',"excellent")
        elif  prices[o] <=13995.0:
            condition[o] = condition[o].replace('UN',"good")
        elif  prices[o] <=5995.0:
            condition[o] = condition[o].replace('UN',"fair")
        else :
            condition[o] = condition[o].replace("UN","salvage")
    o+=1

In [42]:
test_2=pd.Series(condition)

In [43]:
test_2.unique()

array(['good', 'excellent', 'fair', 'like new', 'new', 'salvage'],
      dtype=object)

In [44]:
df=df.drop(["condition"],axis=1)

In [45]:
df.isna().sum()

region               0
price                0
year                 0
manufacturer         0
model                0
cylinders       153971
fuel                 0
odometer             0
title_status         0
transmission         0
VIN             147590
drive           112905
size            267055
type             82507
paint_color     106661
description          2
state                0
posting_date         0
dtype: int64

In [46]:
index =list(df.index)

In [47]:
test_3=pd.DataFrame(condition,index=index,columns=["condition"])

In [48]:
df=pd.concat([df,test_3],axis=1)

In [49]:
df.isna().sum()

region               0
price                0
year                 0
manufacturer         0
model                0
cylinders       153971
fuel                 0
odometer             0
title_status         0
transmission         0
VIN             147590
drive           112905
size            267055
type             82507
paint_color     106661
description          2
state                0
posting_date         0
condition            0
dtype: int64

# cylinders

In [50]:
df["cylinders"]=df["cylinders"].fillna("UN")
df["cylinders"].isna().sum()

np.int64(0)

In [51]:
df["cylinders"].unique()

array(['8 cylinders', '6 cylinders', 'UN', '4 cylinders', '5 cylinders',
       'other', '3 cylinders', '10 cylinders', '12 cylinders'],
      dtype=object)

In [52]:
cylinders = list(df["cylinders"])

In [53]:
len(prices) == len(cylinders)

True

In [54]:
o=0
for i in cylinders:
    
    if i == 'UN':
        if prices[o] <= 1000000.0:
            cylinders[o] = cylinders[o].replace('UN',"12 cylinders")
        elif  prices[o] <=27882.00:
            cylinders[o] = cylinders[o].replace('UN',"10 cylinders")
        elif  prices[o] <= 18935.0:
            cylinders[o] = cylinders[o].replace('UN',"8 cylinders")
        elif  prices[o] <=13995.0:
            cylinders[o] = cylinders[o].replace('UN',"6 cylinders")
        elif  prices[o] <=5995.0:
            cylinders[o] = cylinders[o].replace('UN',"4 cylinders")
        else :
            cylinders[o] = cylinders[o].replace("UN","3 cylinders")
    o+=1

In [55]:
test_4=pd.Series(cylinders)

In [56]:
test_4.unique()

array(['8 cylinders', '6 cylinders', '12 cylinders', '4 cylinders',
       '5 cylinders', 'other', '3 cylinders', '10 cylinders'],
      dtype=object)

In [57]:
df=df.drop(["cylinders"],axis=1)

In [58]:
index =list(df.index)

In [59]:
test_5=pd.DataFrame(cylinders,index=index,columns=["cylinders"])

In [60]:
df=pd.concat([df,test_5],axis=1)

In [61]:
df.isna().sum()

region               0
price                0
year                 0
manufacturer         0
model                0
fuel                 0
odometer             0
title_status         0
transmission         0
VIN             147590
drive           112905
size            267055
type             82507
paint_color     106661
description          2
state                0
posting_date         0
condition            0
cylinders            0
dtype: int64

In [62]:
df.sample(5)

,region,price,year,manufacturer,model,fuel,odometer,title_status,transmission,VIN,drive,size,type,paint_color,description,state,posting_date,condition,cylinders
181712,baltimore,18981,2014.0,ford,e-series cargo,gas,36237.0,clean,automatic,NaN,rwd,NaN,van,white,SOLD!!! This Ford E-Series Cargo has just be...,md,2021-04-29T08:14:25-0400,new,8 cylinders
255537,north jersey,6500,2008.0,honda,cr-v,gas,168362.0,clean,automatic,5J6RE48728L023706,4wd,NaN,SUV,blue,"2008 Honda CR-V EX L AWD 4dr SUV -- $$6,500 ...",nj,2021-04-23T09:16:49-0400,new,4 cylinders
36781,modesto,9900,2013.0,nissan,maxima 3.5 4dr sedan,gas,134405.0,clean,automatic,1N4AA5AP4DC820036,fwd,mid-size,sedan,black,"Buy with confidence promotion, 3 months, 3000 ...",ca,2021-05-03T11:58:18-0700,excellent,6 cylinders
122779,atlanta,24590,2019.0,nissan,frontier king cab s,gas,26351.0,clean,other,1N6BD0CT0KN779101,fwd,NaN,pickup,white,Carvana is the safer way to buy a car During t...,ga,2021-05-01T14:51:23-0400,good,12 cylinders
46742,redding,38990,2019.0,ford,ranger supercrew lariat,gas,6000.0,clean,other,1FTER4FHXKLA64452,4wd,NaN,pickup,NaN,Carvana is the safer way to buy a car During t...,ca,2021-04-25T03:53:18-0700,good,12 cylinders

# drive

In [63]:
df["drive"].unique()

array([nan, 'rwd', '4wd', 'fwd'], dtype=object)

In [64]:
df["drive"]=df["drive"].fillna("UN")
df["drive"].isna().sum()

np.int64(0)

In [65]:
df["drive"].unique()

array(['UN', 'rwd', '4wd', 'fwd'], dtype=object)

In [66]:
drive = list(df["drive"])

In [67]:
len(prices) == len(drive)

True

In [68]:
o=0
for i in drive:
    
    if i == 'UN':
        if prices[o] <= 1000000.0:
            drive[o] = drive[o].replace('UN',"4wd")
        elif  prices[o] <= 18935.0:
            drive[o] = drive[o].replace('UN',"rwd")
        else :
            drive[o] = drive[o].replace("UN","fwd")
    o+=1

In [69]:
test_6=pd.Series(drive)

In [70]:
test_6.unique()

array(['4wd', 'rwd', 'fwd'], dtype=object)

In [71]:
df=df.drop(["drive"],axis=1)

In [72]:
index =list(df.index)

In [73]:
test_7=pd.DataFrame(drive,index=index,columns=["drive"])

In [74]:
df=pd.concat([df,test_7],axis=1)

In [75]:
df.isna().sum()

region               0
price                0
year                 0
manufacturer         0
model                0
fuel                 0
odometer             0
title_status         0
transmission         0
VIN             147590
size            267055
type             82507
paint_color     106661
description          2
state                0
posting_date         0
condition            0
cylinders            0
drive                0
dtype: int64

# type

In [76]:
df["type"].unique()

array(['pickup', 'truck', 'other', nan, 'coupe', 'SUV', 'hatchback',
       'mini-van', 'sedan', 'offroad', 'bus', 'convertible', 'wagon',
       'van'], dtype=object)

In [77]:
df["manufacturer"].unique()

array(['gmc', 'chevrolet', 'toyota', 'ford', 'jeep', 'nissan', 'ram',
       'mazda', 'cadillac', 'honda', 'dodge', 'lexus', 'jaguar', 'buick',
       'chrysler', 'volvo', 'audi', 'infiniti', 'lincoln', 'alfa-romeo',
       'subaru', 'Unknown', 'acura', 'hyundai', 'mercedes-benz', 'bmw',
       'mitsubishi', 'volkswagen', 'porsche', 'kia', 'ferrari', 'mini',
       'pontiac', 'fiat', 'rover', 'tesla', 'saturn', 'mercury',
       'harley-davidson', 'datsun', 'aston-martin', 'land rover'],
      dtype=object)

In [78]:
manufacturer_type_map = {
    'jeep': 'SUV',
    'land rover': 'SUV',
    'rover': 'SUV',      
    'gmc': 'pickup',    
    'ram': 'pickup',     
    'harley-davidson': 'other', 

    'ferrari': 'coupe',
    'aston-martin': 'coupe',
    'porsche': 'coupe',   
    'alfa-romeo': 'coupe',

    
    'mini': 'hatchback',
    'fiat': 'hatchback',
    'subaru': 'wagon',    

    
    'mercedes-benz': 'sedan',
    'bmw': 'sedan',
    'audi': 'sedan',
    'lexus': 'sedan',
    'cadillac': 'sedan',
    'lincoln': 'sedan',
    'jaguar': 'sedan',
    'infiniti': 'sedan',
    'acura': 'sedan',
    'volvo': 'sedan',
    'buick': 'sedan',
    'chrysler': 'sedan',

    
    'toyota': 'sedan',    
    'honda': 'sedan',     
    'nissan': 'sedan',    
    'ford': 'sedan',      
    'chevrolet': 'sedan', 
    'dodge': 'sedan',   
    'hyundai': 'sedan',
    'kia': 'sedan',
    'mazda': 'sedan',
    'volkswagen': 'sedan',
    'mitsubishi': 'sedan',
    'saturn': 'sedan',
    'mercury': 'sedan',
    'pontiac': 'sedan',
    'datsun': 'sedan',
    'tesla': 'sedan',
    
    'Unknown': 'other'
}

In [79]:
df['type'] = df['type'].fillna(df['manufacturer'].map(manufacturer_type_map))

In [80]:
df['type'].isna().sum()

np.int64(0)

In [81]:
df["type"].unique()

array(['pickup', 'truck', 'other', 'SUV', 'coupe', 'hatchback',
       'mini-van', 'sedan', 'offroad', 'bus', 'convertible', 'wagon',
       'van'], dtype=object)

In [82]:
df.isna().sum()

region               0
price                0
year                 0
manufacturer         0
model                0
fuel                 0
odometer             0
title_status         0
transmission         0
VIN             147590
size            267055
type                 0
paint_color     106661
description          2
state                0
posting_date         0
condition            0
cylinders            0
drive                0
dtype: int64

# size

In [83]:
df["size"].unique()

array([nan, 'full-size', 'mid-size', 'compact', 'sub-compact'],
      dtype=object)

In [84]:
type_size_map = {
    'sedan': 'mid-size',
    'coupe': 'compact',      
    'hatchback': 'sub-compact',
    'SUV': 'full-size',     
    'pickup': 'full-size',
    'truck': 'full-size',
    'van': 'full-size',
    'mini-van': 'mid-size',
    'wagon': 'mid-size',
    'bus': 'full-size',
    'offroad': 'full-size',
    'convertible': 'compact',
    'other' : 'UNKNOWN'
}

In [85]:
df['size'] = df['size'].fillna(df['type'].map(type_size_map))

In [86]:
df.isna().sum()

region               0
price                0
year                 0
manufacturer         0
model                0
fuel                 0
odometer             0
title_status         0
transmission         0
VIN             147590
size                 0
type                 0
paint_color     106661
description          2
state                0
posting_date         0
condition            0
cylinders            0
drive                0
dtype: int64

# paint_color

In [87]:
df["paint_color"] = df["paint_color"].fillna("UNKNOWN")

In [88]:
df.isna().sum()

region               0
price                0
year                 0
manufacturer         0
model                0
fuel                 0
odometer             0
title_status         0
transmission         0
VIN             147590
size                 0
type                 0
paint_color          0
description          2
state                0
posting_date         0
condition            0
cylinders            0
drive                0
dtype: int64

# description

In [89]:
df.dropna(subset=["description"],inplace = True)

In [90]:
df.isna().sum()

region               0
price                0
year                 0
manufacturer         0
model                0
fuel                 0
odometer             0
title_status         0
transmission         0
VIN             147589
size                 0
type                 0
paint_color          0
description          0
state                0
posting_date         0
condition            0
cylinders            0
drive                0
dtype: int64

# VIN

In [91]:
df["VIN"] = df["VIN"].fillna("UNKNOWN")

In [92]:
df.isna().sum()

region          0
price           0
year            0
manufacturer    0
model           0
fuel            0
odometer        0
title_status    0
transmission    0
VIN             0
size            0
type            0
paint_color     0
description     0
state           0
posting_date    0
condition       0
cylinders       0
drive           0
dtype: int64

In [93]:
df.sample(5)

,region,price,year,manufacturer,model,fuel,odometer,title_status,transmission,VIN,size,type,paint_color,description,state,posting_date,condition,cylinders,drive
89486,"washington, DC",8900,2008.0,toyota,rav4 limited,gas,147000.0,clean,automatic,UNKNOWN,full-size,SUV,black,"2008 Toyota RAV4 4x4, 147 k Miles Driven, Clea...",dc,2021-04-30T17:41:09-0400,good,12 cylinders,4wd
414117,charleston,19900,2014.0,ram,1500 4wd,gas,60359.0,clean,automatic,UNKNOWN,full-size,pickup,UNKNOWN,"2014 Ram 1500 express 4x4 , 2 door , clean ins...",wv,2021-04-14T17:18:46-0400,new,8 cylinders,4wd
189959,western massachusetts,3988,2006.0,honda,pilot,gas,209700.0,clean,automatic,2HKYF18526H527167,full-size,SUV,black,2006 Honda Pilot 4WD EX-L AT Offered by: C...,ma,2021-04-30T18:35:36-0400,new,12 cylinders,4wd
83557,hartford,3695,2003.0,toyota,camry,gas,141012.0,clean,automatic,UNKNOWN,mid-size,sedan,UNKNOWN,2003 toyota camry power windows power locks ai...,ct,2021-05-03T16:53:34-0400,excellent,4 cylinders,fwd
388134,vermont,14995,2019.0,nissan,sentra,gas,7480.0,clean,automatic,3N1AB7AP8KY437131,mid-size,sedan,silver,"Odometer 7,480 miles Fuel Economy 29.0/37.0 mp...",vt,2021-04-17T16:40:45-0400,excellent,4 cylinders,fwd

# VIN
# description
# posting_date

In [94]:
df['posting_date'] = pd.to_datetime(df['posting_date'], utc=True)

df['posting_month'] = df['posting_date'].dt.month
df['posting_day'] = df['posting_date'].dt.day
df['posting_weekday'] = df['posting_date'].dt.weekday 
df['posting_day'] = df['posting_date'].dt.day_name()

In [95]:
df

,region,price,year,manufacturer,model,fuel,odometer,title_status,transmission,VIN,...,paint_color,description,state,posting_date,condition,cylinders,drive,posting_month,posting_day,posting_weekday
27,auburn,33590,2014.0,gmc,sierra 1500 crew cab slt,gas,57923.0,clean,other,3GTP1VEC4EG551563,...,white,Carvana is the safer way to buy a car During t...,al,2021-05-04 17:31:18+00:00,good,8 cylinders,4wd,5,Tuesday,1
28,auburn,22590,2010.0,chevrolet,silverado 1500,gas,71229.0,clean,other,1GCSCSE06AZ123805,...,blue,Carvana is the safer way to buy a car During t...,al,2021-05-04 17:31:08+00:00,good,8 cylinders,4wd,5,Tuesday,1
29,auburn,39590,2020.0,chevrolet,silverado 1500 crew,gas,19160.0,clean,other,3GCPWCED5LG130317,...,red,Carvana is the safer way to buy a car During t...,al,2021-05-04 17:31:25+00:00,good,8 cylinders,4wd,5,Tuesday,1
30,auburn,30990,2017.0,toyota,tundra double cab sr,gas,41124.0,clean,other,5TFRM5F17HX120972,...,red,Carvana is the safer way to buy a car During t...,al,2021-05-04 15:41:31+00:00,good,8 cylinders,4wd,5,Tuesday,1
31,auburn,15000,2013.0,ford,f-150 xlt,gas,128000.0,clean,automatic,UNKNOWN,...,black,2013 F-150 XLT V6 4 Door. Good condition. Leve...,al,2021-05-03 19:02:03+00:00,excellent,6 cylinders,rwd,5,Monday,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426875,wyoming,23590,2019.0,nissan,maxima s sedan 4d,gas,32226.0,clean,other,1N4AA6AV6KC367801,...,UNKNOWN,Carvana is the safer way to buy a car During t...,wy,2021-04-04 09:21:31+00:00,good,6 cylinders,fwd,4,Sunday,6
426876,wyoming,30590,2020.0,volvo,s60 t5 momentum sedan 4d,gas,12029.0,clean,other,7JR102FKXLG042696,...,red,Carvana is the safer way to buy a car During t...,wy,2021-04-04 09:21:29+00:00,good,12 cylinders,fwd,4,Sunday,6
426877,wyoming,34990,2020.0,cadillac,xt4 sport suv 4d,diesel,4174.0,clean,other,1GYFZFR46LF088296,...,white,Carvana is the safer way to buy a car During t...,wy,2021-04-04 09:21:17+00:00,good,12 cylinders,4wd,4,Sunday,6
426878,wyoming,28990,2018.0,lexus,es 350 sedan 4d,gas,30112.0,clean,other,58ABK1GG4JU103853,...,silver,Carvana is the safer way to buy a car During t...,wy,2021-04-04 09:21:11+00:00,good,6 cylinders,fwd,4,Sunday,6
426879,wyoming,30590,2019.0,bmw,4 series 430i gran coupe,gas,22716.0,clean,other,WBA4J1C58KBM14708,...,UNKNOWN,Carvana is the safer way to buy a car During t...,wy,2021-04-04 09:21:07+00:00,good,12 cylinders,rwd,4,Sunday,6

In [96]:
df['has_phone'] = df['description'].str.contains(r'\d{3}-\d{3}-\d{4}', regex=True).astype(int)
df['desc_word_count'] = df['description'].apply(lambda x: len(str(x).split()))
df['has_warranty'] = df['description'].str.contains('warranty', case=False).astype(int)
df['is_one_owner'] = df['description'].str.contains('one owner|1st owner', case=False).astype(int)

In [97]:
df["has_phone"].unique()

array([1, 0])

In [98]:
df["desc_word_count"].unique()

array([ 681,  692,  690, ..., 2870, 2781, 2934])

In [99]:
df["has_warranty"].unique()

array([0, 1])

In [100]:
df["is_one_owner"].unique()

array([0, 1])

In [101]:
df['vin_country_code'] = df['VIN'].apply(lambda x: x[0] if x != "UNKNOWN" else "UNKNOWN")

In [102]:
country_map = {'1': 'USA', '4': 'USA', '5': 'USA', 'J': 'Japan', 'K': 'South Korea', 'W': 'Germany'}

In [103]:
df['origin_country'] = df['vin_country_code'].map(country_map).fillna('Other/Unknown')

In [104]:
df['origin_country']

27        Other/Unknown
28                  USA
29        Other/Unknown
30                  USA
31        Other/Unknown
              ...
426875              USA
426876    Other/Unknown
426877              USA
426878              USA
426879          Germany
Name: origin_country, Length: 375715, dtype: object

In [105]:
df.columns

Index(['region', 'price', 'year', 'manufacturer', 'model', 'fuel', 'odometer',
       'title_status', 'transmission', 'VIN', 'size', 'type', 'paint_color',
       'description', 'state', 'posting_date', 'condition', 'cylinders',
       'drive', 'posting_month', 'posting_day', 'posting_weekday', 'has_phone',
       'desc_word_count', 'has_warranty', 'is_one_owner', 'vin_country_code',
       'origin_country'],
      dtype='object')

# Export New Data

In [106]:
df.to_csv("New_data.csv")